.profile__info {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  
  
  color: #fff;
  margin: 0;
  
  mix-blend-mode: normal;
}