.preheader__info-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  
  
  /* gray */
  
  color: #969696;
}