.people__name {
  font-family: Playfair Display;
  margin: 0;
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  
  
  /* white */
  
  color: #FFFFFF;
}