.about-us__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  
  text-align: center;
  
  /* white */
  
  color: #FFFFFF;
  margin: 40px 0 0;
  max-width: 470px;
}