.preheader__links-text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  
  
  /* gray */
  
  color: #969696;
  cursor: pointer;
  transition: .3s;
}

.preheader__links-text:hover {
  color: #fff;
}