.about-us__title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 40px;
  border-bottom: 1px #fff solid;
  
  /* white */
  
  color: #FFFFFF;
  margin: 0;
}