.online__submit {
  border-radius: 3px;
  width: 396px;
  height: 45px;
  margin: 69px auto 16px;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.online__submit:hover {
  opacity: .6;
}