.main__title {
  color: #fff;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
  text-transform: uppercase;
}