.people__title {
  margin: 0 auto 81px;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  
  /* white */
  
  color: #FFFFFF;
}