.online__header {
  width: 100%;
  text-transform: uppercase;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #fff;
  margin: 0;
  color: #fff;
  padding: 40px 0 23px;
}